name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SNAPSHOT_ARTIFACTS: ${{ github.workspace }}/snapshots
  TEST_RUNNER_SNAPSHOT_ARTIFACTS: ${{ github.workspace }}/snapshots

jobs:
  build:
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select Xcode Xcode_26.1.1
      run: ls -l /Applications && sudo xcode-select -s /Applications/Xcode_26.1.1.app
    - name: Build, test, and code coverage
      run: env && make
    - name: Archive test artifacts
      uses: actions/upload-artifact@v4
      with:
        name: snapshots
        path: ${{ env.SNAPSHOT_ARTIFACTS }}
    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_UPDATE }}
        gistID: 09b95180719ff3c213d0d57a87f5202e
        filename: AUv3Controls-coverage.json
        label: Coverage
        message: ${{ env.PERCENTAGE }}
        color: success
